@font-face {
    font-family: 'ColorTube';
    src: local('ColorTube'), local('ColorTubeRegular'), url('Colortube.woff2') format('woff2'), url('Colortube.woff') format('woff'), url('Colortube.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
